<!DOCTYPE html>
<html ng-app='Yy'>
<head>
  <title>Yy</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "yy/application", media: "all" %>
  <%= javascript_include_tag "yy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Yackety-Yack</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-right">
        <p class="navbar-text">Welcome <a href="#" class="navbar-link"><%= current_user ? current_user.email : "Guest" %></a></p>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_session_path(user_resource_name) %></li>
          <% else %>
            <li><%= link_to 'Login', new_session_path(user_resource_name) %></li>
          <% end %>
        </ul>
    </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="topic-actions" ng-controller="TopicActionsCtrl">
    <div class="btn-group">
      <button type="button" class="btn btn-default">All categories</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All categories</a></li>
        <li><a href="#">Category #1</a></li>
        <li><a href="#">Category #2</a></li>
        <li><a href="#">Category #3</a></li>
      </ul>
    </div>
    <a href="#" class="btn btn-link">Latest</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">New</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">Unread</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">Starred</a>
    <a href="#" class="btn btn-link">Top</a>
    <a ng-href="#/categories" class="btn btn-link">Categories</a>
    <a href="#" class="btn btn-default pull-right" ng-if="currentUserId" ng-click="newTopicForm.show = true">+ Create Topic</a>
  </div>

  <div class="clear-fix"></div>

  <div ng-view>
    <%= yield %>
  </div>
</div>

<div id="create-topic-control" ng-show="newTopicForm.show" ng-controller="TopicFormCtrl">
  <div class="modal-header">
    <button type="button" class="close" ng-click="newTopicForm.show = false">x</button>
    <h4 class="modal-title">Create a new Topic</h4>
    </div>
  <div class="topic-content row">
    <form name="topicForm" ng-submit="submitForm(topicForm.$valid)" novalidate>
      <div class="form-group col-md-6" ng-class="{ 'has-error has-feedback': topicForm.title.$invalid && topicForm.title.$dirty, 'has-success has-feedback': topicForm.title.$valid && topicForm.title.$dirty }">
        <input class="form-control" ng-model="topic.title" name="title" placeholder="Type your title here. Title should contains at least 10 characters" required ng-minlength="10" />
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="topicForm.title.$valid && topicForm.title.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="topicForm.title.$invalid && topicForm.title.$dirty"></span>
      </div>
      <div class="form-group col-md-6">
        <select class="form-control">
          <option></option>
          <option value="1">Category #1</option>
          <option value="2">Category #2</option>
          <option value="3">Category #3</option>
        </select>
      </div>
      <div class="form-group col-md-12" ng-class=" { 'has-error has-feedback': topicForm.content.$invalid && topicForm.content.$dirty, 'has-success has-feedback': topicForm.content.$valid && topicForm.content.$dirty }">
        <textarea class="form-control" ng-model="topic.content" name="content" placeholder="Type here." rows="8" required></textarea>
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="topicForm.content.$valid && topicForm.content.$dirty"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="topicForm.content.$invalid && topicForm.content.$dirty"></span>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary" ng-disabled="topicForm.$invalid">Create Topic</button>
        <a class="btn btn-link" ng-click="newTopicForm.show = false">Cancel</a>
      </div>
    </form>
  </div>
</div>

</body>
</html>
