<!DOCTYPE html>
<html ng-app='Yy'>
<head>
  <title>Yy</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "yy/application", media: "all" %>
  <%= javascript_include_tag "yy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Yackety-Yack</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-right">
        <p class="navbar-text">Welcome <a href="#" class="navbar-link"><%= current_user ? current_user.email : "Guest" %></a></p>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_session_path(user_resource_name) %></li>
          <% else %>
            <li><%= link_to 'Login', new_session_path(user_resource_name) %></li>
          <% end %>
        </ul>
    </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="topic-actions" ng-controller="TopicActionsCtrl">
    <div class="btn-group">
      <button type="button" class="btn btn-default">All categories</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All categories</a></li>
        <li><a href="#">Category #1</a></li>
        <li><a href="#">Category #2</a></li>
        <li><a href="#">Category #3</a></li>
      </ul>
    </div>
    <a ng-href="#/" class="btn" ng-class="{'btn-link':!(isActive('')||isActive('/')),'btn-primary':isActive('')||isActive('/')}">Latest</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">New</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">Unread</a>
    <a href="#" class="btn btn-link" ng-if="currentUserId">Starred</a>
    <a href="#" class="btn btn-link">Top</a>
    <a ng-href="#/categories" class="btn" ng-class="{'btn-link':!isActive('/categories'),'btn-primary':isActive('/categories')}">Categories</a>
    <a href="#" class="btn btn-default pull-right" ng-if="currentUserId" ng-click="newTopicForm.show = true">+ Create Topic</a>
  </div>

  <div class="clear-fix"></div>

  <div ng-view>
    <%= yield %>
  </div>
</div>

<div ng-include="'../assets/yy/topics/new_topic_form.html'"></div>

</body>
</html>
